<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
    <div class="col-0.5"></div>
    <div class="col-11">
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top|fixed-bottom|sticky-top">
        <a class="navbar-brand" href="#"><img src="../assets/img/travel-icon.png" width="40px" height="40px" style="margin: 0 0.5em 0 0 ">Traval
          Blog</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only" style="background-color:white">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/articles">Article</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <div class="col-0.5"></div>
  </div>
  </div>
  <router-outlet></router-outlet>